h1 {
    text-align: center
    font-size: 40px;
}

body {
    font-size: 16px;
    width: 90%;
}

div {
    margin: 5px;
}

input {
    position: center;
    font-size: 17px;
    width: 80px;
    height: 20px;
}

table, td, th {
    border: 1px #000 solid;
}

table {
    text-align: center;
    width: 100%;
}

select {
    font-size: 16px;
}

.sm {
    font-size: 14px;
}

button {
    font-size: 30px;
    width: 100%;
    height: 100%;
    background: #da2;
}

.head {
    display: grid;
    grid-template-columns: 75vw 1fr;
    width: 100%;
}

.item-a {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    border: 1px #000 solid;
    padding: 5px;
}

.item-b {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    border: 1px #000 solid;
    padding: 5px;
}

.input {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.item-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
}

.item-2 {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.head-left {
    display: grid;
    grid-template-columns: 1fr 40px 40px 40px 40px;
}

.item-f {
    grid-row: 1 / 1;
    grid-column: 1 / 5;
}

.item-one {
    grid-row: 1 / 1;
    grid-column: 2 / 5;
    }

.item-two {
    grid-row: 1 / 1;
    grid-column: 3 / 5;
}

.item-three {
    grid-row: 1 / 1;
    grid-column: 4 / 5;
}

.item-four {
    grid-row: 1 / 1;
    grid-column: 5 / 5;
}

#ods-1, #ods-2, #ods-3, #ods-4 {
    font-size: 15px;
    width: 30px;
}
