h1 {
    text-align: center
    font-size: 40px;
}

body {
    font-size: 18px;
    width: 95%;
}

div {
    margin: 5px;
}

input {
    position: center;
    font-size: 17px;
    width: 80px;
    height: 20px;
}

table, td, th {
    border: 1px #000 solid;
}

table {
    text-align: center;
    width: 100%;
}

select {
    font-size: 20px;
}

button {
    font-size: 30px;
    width: 100%;
    height: 100%;
    background: #da2;
}

.input {
    display: grid;
    grid-template-columns: 300px 1fr;
}



.item-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
}

.item-2 {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}
