h1 {
    text-align: center
    font-size: 60px;
}

body {
    font-size: 30px;
}

div {
    margin: 5px 10px;
}

input {
    position: center;
    font-size: 25px;
    width: 120px;
    height: 30px;
}

table, td, th {
    border: 1px #000 solid;
}

table {
    text-align: center;
    width: 100%;
}

select {
    font-size: 30px;
}

button {
    font-size: 40px;
    width: 200px;
    height: 100%;
    background: #da2;
}

.input {
    display: grid;
    grid-template-columns: 700px 1fr;
}



.item-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
}

.item-2 {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}
